* {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 65px;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 6px #000000;
  margin-top: 0;
  margin-bottom: 0;
}

table {
  background-color: #999999;
  color: black;
  border-radius: 5px;
  border: 1px solid #999;
  /*border-collapse: collapse;*/
  margin: 50px auto;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  margin-top: 2%;
}

td {
  background-color: #333333;
  width: 100px;
  height: 100px;
  border: 1px solid #999;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
}

td:hover{background-color: #555555}

body {
  background-image: url(Free-Chalkboard-Backgrounds.jpg); no-repeat center fixed;
  background-size: cover;
  background-repeat: repeat;


  }
.winner {
    font-size: 80px;
    color: #9400D3;
    text-shadow: 4px 4px 6px #ADFF2F;
    margin-left: 40%;
  }

.turn{
  font-size: 30px;
  color: white;
  margin-left: 45%;
}


#restart {
  text-align: center;
  border-radius: 8px;
  height: 50px;
  width: 220px;
  font-size: 25px;
  text-shadow: 0 0 2px #5bc0de;
  position:absolute; top: 50px; right: 25px;
 }
#restart:hover {
    background-color: #008CBA;
    color: white;
}


